﻿@model app.Core.Entities.WeatherForecast
@using System.Globalization;
@using app.Core.Helpers;
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>@Model.Area.Title Hava Durumu</h1>
    <p class="lead">
        <fieldset>
            <iframe src="https://maps.google.com/maps?q=@Model.Area.Location.Item1,@Model.Area.Location.Item2&hl=tr&z=10&amp;output=embed" frameborder="0"></iframe>
        </fieldset>
    </p>
</div>
<div class="row">
    @foreach (var forecast in Model.Forecast)
    {
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>@forecast.Date.ToString("dd MMMMM yyyy", CultureInfo.CreateSpecificCulture("tr-TR"))</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>@WeatherForecastHelper.TranslateDescriptionToTurkish(forecast.Description)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>@forecast.CurrentTemperature.ToString("N0") °C / @forecast.MaximumTemperature.ToString("N0") °C / @forecast.MinimumTemperature.ToString("N0") °C</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><img src="https://www.metaweather.com/static/img/weather/@(forecast.IconCode).svg" style="width:70%" /></div>
            </div>
        </div>
    }
</div>